.genres {
    display: flex;
    flex-direction: column;

    .genre {
        .genre-heading {
            background-color: $color-grey-100;
            padding: 10px 0;
            z-index: 100;
            transition: all 0.3s ease;
        }

        h2 {
            @extend .text-lg;
            @extend .container;
        }

        .card-wrap {
            margin-top: 40px;
            margin-bottom: 80px;
            @extend .container;

            img {
                width: 200px;
                height: 300px;
            }

            .card {
                margin-bottom: 20px;
                &:hover {
                    cursor: pointer;
                    transform: scale(0.9);
                    transition: transform 0.3s ease;
                }
            }
        }

        .modal {
            &-header {
                h2 {
                    @extend .text-md;
                    font-weight: bold;
                }
            }
        
            &-body {
                picture {
                    display: inline-block;
                    margin-bottom: 20px;
                    width: 200px;
                    height: 300px;
                    border-radius: 4px;
                    overflow: hidden;
                }
                img {
                    width: 100%;
                }

                .book-details {
                    .descp {
                        margin-bottom: 15px;
                        @extend .text-md;
                    }

                    .author {
                        margin-bottom: 8px;
                    }
                    .publisher {
                        margin-bottom: 15px;
                    }

                    .date {
                        @extend .text-xs;
                        color: $color-grey-200;

                        span {
                            margin-right: 10px;
                        }
                    }
                    .buy-links {
                        margin-bottom: 40px;
                        a {
                            @extend .text-sm;
                            font-weight: bold;
                            color: $brand-primary-text;
                            margin: 0 10px;
                            text-decoration: underline;
                        }
                    }
                }
            }
        
            &-footer {
        
            }
        }
    }
}